.next
node_modules
out
dist
.DS_Store
*.log
.vercel
.env*
/*.pdf
/Ezequiel.jpeg
public/pdfs/*
!public/pdfs/aconcagua.pdf
!public/pdfs/avion-de-los-uruguayos.pdf
!public/pdfs/domuyo.pdf
!public/pdfs/mocho-villarrica.pdf
!public/pdfs/osorno.pdf
!public/pdfs/puyehue-2-noches.pdf
!public/pdfs/puyehue-osorno.pdf
!public/pdfs/san-francisco.pdf
